$primary: #df46a8;
$secondary: #ff8246;
$tertiary: #30e3ca;
$important: #0b409c;

// Mermaid Palette
$number1: #df46a8;
$number2: #dfa846;
$number3: #a8df46;
$number4: #46dfa8;
$number5: #46a8df;
$number6: #a846df;


@import "admin/variables"; // Import admin styling
@import "login/login"; // Import login styling

//Update the variables in this document, and update any additional variables or styling in _admin or _login and compile with SASS using the following:
// 1) Navigate to plugin directory in terminal
// 2) Run sass --watch scss:css

//Complete instructions in readme.txt