@import 'mixins';

body.login {
    background-color: #fff !important;
    line-height: normal !important;
    font-family: "Gothic A1";

    div#login {
        width: 50vw;

        .button-primary {
            @include button($button-color);
        }

        a {}

        h1 {
            font-family: "Crushed";
            color: $primary;
        }

        h1.login-site-title {
            height: 5rem;
            padding-top: 1rem;
            font-size: 3rem;
        }

        h1 a {
            background-image: url("../assets/extamus_round_hq.png");
            height: 20vh;
            width: 100%;
            background-size: contain;
            background-position: center;
            margin-bottom: 30px;
            display: block;
        }

        form#loginform {
            background-color: $secondary !important;
            margin-left: 10vw;
            margin-right: 10vw;
        }

        form#loginform p {
            // width: 100%;
        }

        form#loginform p label {
            width: 100%;
            color: #fff;
        }

        form#loginform input {}

        form#loginform input#user_login {}

        form#loginform input#user_pass {}

        form#loginform p.forgetmenot {}

        form#loginform p.forgetmenot input#rememberme {
            width: 16px;
        }

        form#loginform p.submit {}

        form#loginform p.submit input#wp-submit {}

        p#nav {}

        p#nav a {
            margin-left: 10vw;
        }

        p#backtoblog {
            margin-left: 10vw;
        }

        p#backtoblog a {}

    }
}